
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" action="/Home/FormsTestPost">
        <div>Đăng nhập</div>
        <div style="margin:10px">
            <label>Username:</label>
            <input type="text" name="username" />
        </div>

        <div style="margin:10px">
            <label>Password: </label>
            <input type="password" name="password" />
        </div>
        <div>
            <input type="submit" alt="Đăng nhập"/>
        </div>
    </form>
</body>
</html>
